* {
 box-sizing: border-box;
}

.menu {
 background-color: #151515;
 float:left;
 width:20%;
 text-align:center;
 border-radius: 0 0 5px 5px;
}

.menuitem {
 background-color: #bbbbbb;
 color: #151515;
 padding:5px;
 margin-top:5px;
 margin-bottom:6px;
 margin-left:5px;
 margin-right:5px;
 border-radius: 3px;
}

.menuitem:hover{
 background-color: #ffffff;
}

.main {
 float:left;
 width:70%;
 padding:0 20px;
 color: #bbbbbb;
}

.header {
 background-color:#151515;
 color: #ffffff;
 padding: 10px;
 text-align: center;
}

body {
 margin: 0 !important;
 background-color: #303030;
 font-family: Verdana;
}

a:link, a:visited {
 text-decoration: none;
 color: #151515;
}

code {
 font-size: 16px;
 color: #252525;
 background-color: #bbbbbb;
}

@media only screen and (max-width:620px) {
 .menu{
  width:100%;
 }
 .main{
  width:100%;
 }
}
